/* Import variables */
@import "../../assets/css/variables.css";
@import "../../assets/css/utility.css";

.hover-icon-light {
    font-size: 1.2rem;
    color: rgb(243, 187, 1);
    cursor: pointer;
}

.hover-icon-light:hover {

    color: rgb(255, 215, 35);
}

.error-message {
    max-width: 60%;
}