/* Import variables */
@import '../../../assets/css/variables.css';

.coach-card-custom {
    width: 30%;
}

.hr-tertiary {
    height: 2px;
    background-color: var(--main-primary);
    color: var(--main-tertiary);
}

#meet-the-team-container {
    display: flex;
    flex-direction: row;
}

.intro-text {
    font-size: 1.2rem;
    padding: 0 1rem;
    margin: 2rem 0;
}

@media only screen and (max-width: 960px) {
    #meet-the-team-container {
        display: flex;
        flex-direction: column;
    }

    .coach-card-custom {
        width: 100%;
    }
}