/* Import variables */
@import "../../assets/css/variables.css";
@import "../../assets/css/utility.css";


#footer {
    z-index: 10;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
}

.socials {
    font-size: 3rem;
    width: 20%;
}

@media only screen and (max-width: 930px) {
    .socials {
        width: 40%;
    }
}

.social-link {
    transition: var(--standard-transition);
}

footer {
    position: relative;
    bottom: 0;
    height: 6rem;
    margin-top: 6rem;
}